* { 
    box-sizing: border-box; 
}

body {
    background-color: rgb(0, 0, 40);
    color:lightgray;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 13pt;
    font-weight: 100;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 100vh;  
}

div.main {
    margin: 0;
    max-width: 600px;
    line-height: 26px;
}

.links {
    display: flex;
    list-style-type: none;
}

.links li {
    line-height: 95%;
    width: 50%;
}

.links a {
    text-decoration: none;
    color: deepskyblue;
    
}



